@use '/src/assets/vars';

.toolbar {
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  gap: 1%;

  mat-paginator {
    flex-grow: 2;
  }

  mat-form-field {
    flex-grow: 1;
  }
}

mat-grid-tile {
  transition: 0.3s;
    &:hover {
        scale: 1.05;
    }
}

::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
}

.container {
  padding: 1%;
}
