<div class="toolbar">
    <mat-form-field class="example-form-field" subscriptSizing="dynamic">
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="pageNameFilter" />
    </mat-form-field>
    <mat-paginator
        #paginator
        class="demo-paginator"
        [length]="pokemonList.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
    >
    </mat-paginator>
</div>

<div class="container">
    <mat-grid-list cols="5" gutterSize="25px">
        @for (pokemon of pokemonList.slice(pageIndex*pageSize,
        (pageIndex+1)*pageSize); track pokemon.name; let i = $index){
        <mat-grid-tile>
            <app-pokemon
                [id]="pokemon.id"
                [name]="pokemon.name.replace('-', ' ')"
                routerLink="{{ pokemon.id }}"
            ></app-pokemon>
        </mat-grid-tile>
        }
    </mat-grid-list>
</div>
