.container {
    background: rgb(43, 43, 43);
    padding: 1%;
    display: grid;
    column-gap: 1%;
    row-gap: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(171, 1fr);
}