@use '/src/assets/vars';

.toolbar {
  width: 100%;
  padding: 1%;
  background-color: vars.$base-background;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  gap: 1%;

  mat-paginator {
    flex-grow: 2;
  }

  mat-form-field {
    flex-grow: 1;
  }
}

mat-grid-tile {
  transition: 0.3s;
    &:hover {
        scale: 1.05;
    }
}

::ng-deep {
    .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
        color: var(--mdc-filled-text-field-label-text-color) !important;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
        caret-color: vars.$main-theme-color !important;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
        border-bottom-color: vars.$main-theme-color !important;
    }
    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
}


.container {
  background: vars.$base-background;
  padding: 1%;
}
