:host {
    transition: 0.3s;
    &:hover {
        scale: 1.05;
    }
}

mat-card-content {
    position: relative;
    display: flex;
    justify-content: center;
}

h2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}