@use "/src/assets/vars";

:host {
    height: 100%;
    background-color: rgb(56, 56, 56);
}

.mat-grid-tile-header {
    background-color: vars.$main-theme-color;

    display: flex;
    justify-content: space-between;
}

.view {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}
img {
    width: 70%;
}
